<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {%with messages = get_flashed_messages()%}
        {%if messages %}
            {%for message in messages%}
                <h3 style="color:red;">{{message}}</h3>
            {%endfor%}
        {%endif%}
    {%endwith%}
    <h1>Edit {{tvshow.name}}</h1>
    <a href="/dashboard">
        <button>TV Shows</button>
    </a>
    <a href="/logout">
        <button>Logout</button>
    </a>
    <form action="/update/tvshow/{{tvshow.id}}" method="POST">
        <input type="hidden" name="id" value="{{tvshow.id}}">
        <label for="title">Title: </label><br>
        <input type="text area" name="title" value="{{tvshow.name}}"><br>

        <label for="network">Network: </label><br>
        <input type="text area" name="network" value="{{tvshow.network}}"><br>

        <label for="date">Release Date:</label><br>
        <input type="date" name="date" value="{{tvshow.date}}"><br>
        
        <label for="description">Description:</label><br>
        <textarea name="description">{{tvshow.description}}</textarea><br>
        
        <input type="submit" value="Update">
</body>
</html>