<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register_and_Login</title>
</head>
<body>
    {%with messages = get_flashed_messages()%}
        {%if messages %}
            {%for message in messages%}
                <h3 style="color:red;">{{message}}</h3>
            {%endfor%}
        {%endif%}
    {%endwith%}

    <h1>Register</h1>
    <form action="/register" method="POST">
        <label for="first_name">First Name:</label>
        <input type="text" name="first_name"><br>
        <label for="last_name">Last Name:</label>
        <input type="text" name="last_name"><br>
        <label for="email">Email:</label>
        <input type="text" name="email"><br>
        <label for="password">Password:</label>
        <input type="password" name="password"><br>
        <label for="confirm_password">Confirm Password:</label>
        <input type="password" name="confirm_password"><br>
        <input type="submit" value="Register">
    </form>
    <br>
    <h1>Login</h1>
    <form action="/login" method="POST">
        <label for="email">Email:</label>
        <input type="text" name="email"><br>
        <label for="password">Password:</label>
        <input type="password" name="password"><br>
        <input type="submit" value="Login">
    </form>
</body>
</html>